* {
	box-sizing: border-box;
	font-family: helvetica, sans-serif;
	font-size: 13px;
}

html, body {
	margin: 0;
}

button {
	background: #fff;
	border: 1px solid #999;
}

.overlay {
	position: fixed;
	background: rgb(230, 230, 230);
	background: rgba(230, 230, 230, 0.9);
	padding: 0.5em;
	border: 0.5em solid #fff;
}

.config {
	top: 0;
	right: 0;
	width: 17em;
	z-index: 1;
}

fieldset {
	border: 1px solid #999;
	margin-bottom: 0.5em;
}

label {
	display: block;
}

label span {
	display: inline-block;
	width: 9.5em;
}

input[type=number] {
	width: 3em;
}

.config button {
	width: 100%;
}

.controls {
	bottom: 0;
	left: 0;
	width: 13em;
	height: 12em;
}

.controls .direction {
	margin-left: 1.1em;
	margin-top: 0;
	position: relative;
}

.controls .direction button {
	width: 2.8em;
	height: 1.8em;
	position: absolute;
}

button[name=up] {
	top: 0;
	left: 3em;
}

button[name=left] {
	top: 2em;
	left: 0;
}

button[name=random] {
	top: 2em;
	left: 3em;
}

button[name=right] {
	top: 2em;
	left: 6em;
}

button[name=down] {
	top: 4em;
	left: 3em;
}

.controls .game {
	margin-left: 0.4em;
	margin-top: 6.2em;
}

.controls .game button {
	width: 5em;
}

pre {
	margin: 1.5em;
	margin-top: 0;
	font-family: monospace;
}

.logger {
	bottom: 0;
	left: 12.5em;
	min-width: 36em;
	height: 12em;
	margin: 0;
	overflow: scroll;
}

.logger li {
	font-family: monospace;
	white-space: pre;
}

.logger .undo {
	text-decoration: line-through;
}
